@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-100;
    scroll-behavior: smooth;
}

.hiddenScrollBar::-webkit-scrollbar {
    display: none;
}

.showScrollBar::-webkit-scrollbar {
    display: block !important;
}

@media (min-width: 426px) {
    ::-webkit-scrollbar {
        width: 8px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-slate-200;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
    /* @apply cursor-move; */
}

@media (min-width: 425px) {
    .x-sm-w {
        @apply w-[12.5rem];
    }
}

@media (max-width: 320px) {
    .xx-sm-w {
        @apply min-w-72;
    }
}